﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jon Oelfke<br />
    4407 Terrilance Dr.<br />
    Austin, TX 78741<br />
    <abbr title="Phone">P:</abbr>
    512-944-7886
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">jon.oelfke@gmail.com</a><br />
</address>